# Visual Studio 관련
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# 빌드 산출물
bin/
obj/
Debug/
Release/
x64/
x86/
[Bb]uild/

# 임시/캐시 파일
*.ipch
*.pch
*.pdb
*.obj
*.idb
*.class
*.cache
*.log

# 기타
*.exe
*.dll
*.lib
*.mp4
*.zip
